body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2em;
    background-color: #f70f7b; /* Light grey for a clean look */
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.pizza-logo {
    width: 150px;
    height: auto;
}

.username {
    text-align: center;
    font-weight: bold;
    background-color: #ff6f61; /* Warm coral for contrast */
    color: #fff; /* White text for readability */
    padding: 0.5em; /* Add some padding */
    border-radius: 5px; /* Slightly rounded corners */
}

.cartCode {
    text-align: center;
    margin-top: 2em;
    padding-right: 5em;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h5 {
    color: #333;
    text-align: center;
}

.cart,
.pizzas {
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    background-color: #1cdf67; /* White background for cards */
}

.cart table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3em;
}

.cart th,
.cart td {
    border: 2px solid #dddddd; /* Light grey border */
    padding: 8px;
    text-align: center;
}

.cart th {
    background-color: #7f4cdd; /* Fresh green for header */
    color: white; /* White text for readability */
}

.cart .message {
    margin-bottom: 10px;
    color: #333; /* Dark text for visibility */
    font-weight: bold;
    font-family: Lucida Console;
}

.btn {
    background-color: #8319e6; /* Green button for positive actions */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #218838; /* Darker green on hover */
}

.pizza {
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    margin: 0.5em;
    padding: 1.5em;
    width: 15em;
    background-color: #28e27c; /* Bright yellow for pizzazz */
}

.pizza h5 {
    margin: 0;
}

.pizzas h2 {
    text-align: center;
}

@media only screen and (max-width: 760px) {
    body {
        background-color: #e3f2fd; /* Light blue for mobile */
        padding: 1em;
    }

    .container {
        padding: 0 1em;
    }

    .cart,
    .pizzas {
        padding: 1px;
        margin: 10px 0;
        width: 100%;
    }

    .cart table {
        background-color: #f0f0f0; /* Light grey for table background */
        font-size: 14px;
    }

    .cart th,
    .cart td {
        padding: 6px;
    }

    .pizza {
        width: 100%;
        margin: 0.5em 0;
    }
}
